<div class="container mt-5">
    <div class="row">
        <div class="col d-flex justify-content-center">
            <h1 *ngIf="!error; else bloccoElse">La tua sottoscrizione alla newsletter è stata disattivata.</h1>
            <ng-template #bloccoElse>
                <h1>{{error}}</h1>
            </ng-template> 
        </div>
    </div>

    <div class="row">
        <div class="col d-flex justify-content-center">
            <p>Sarai reindirizzato nella homepage tra {{timer}}</p>
        </div>
    </div>
</div>