<br><br><br><br><br><br><br><br><br><br><br>
<div class="carousel-container mt-5">
    <mat-card *ngFor="let image of images; let i = index" [ngClass]="{'active': i === activeIndex}">
        <a href="#" draggable="false">
            <img mat-card-image [src]="imagePath + image" draggable="false">
        </a>
    </mat-card>

    <button mat-icon-button (click)="previousImage()" class="nav-btn prev-btn">
        <mat-icon>arrow_back</mat-icon>
    </button>

    <button mat-icon-button (click)="nextImage()" class="nav-btn next-btn">
        <mat-icon>arrow_forward</mat-icon>
    </button>
</div>