<!--CHILD-->

<p>prova works!</p>
<!--div *ngFor="let persona of data">
    <p>{{persona.nome}} {{persona.cognome}}</p>
</div-->

<!--VIEW (PARTE GRAFICA DELL'APPLICAZIONE)-->
<!--PROPERTY INTERPOLATION
  mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="immagine1" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card-->
<!--button mat-raised-button color="primary" [disabled]="isDisabled">Primary</button-->


<!-- STRING INTERPOLATION
  mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{ cane[0].nome }}</mat-card-title>
    <mat-card-subtitle>{{cane[0].razza.toUpperCase()}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>This card indeterminates progress bar.</p>
    <p>{{cane[0].descrizione}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card-->