<app-homepage></app-homepage>

<!--PARENT-->
<!--app-homepage [data]="persone"></app-homepage-->
<!-- Richiamo i vari componenti che vado a creare  -->
<!--app-homepage></app-homepage-->

<!--button mat-raised-button color="accent" (click)="onClick($event)">Clear</button>
<mat-form-field class="example-full-width">
    <mat-label>Favorite food</mat-label>
    <input matInput placeholder="Ex. Pizza" [(ngModel)]="title">
</mat-form-field>
<p>{{title}}</p-->

<!-- esempio facciamo vedere un bottone secondo una condizione -->
<!--button *ngIf="isOnline">button</button>
<button *ngIf="!isOnline">button1</button-->

<!--ng-template *ngIf="isOnline; then bloccoIf else bloccoElse"></ng-template>

<ng-template #bloccoIf>
    <p>Sono visibile</p>
</ng-template> 

<ng-template #bloccoElse>
    <p>Non sono visibile</p>
</ng-template--> 

<!--ul>
    <li *ngFor="let persona of persone; index as i">
        <div class="cerchio" [ngClass]="{'cerchioOnline':persona.isOnline, 'cerchioOffline':!persona.isOnline}">{{i}}</div>
        <p>{{persona.nome}} {{persona.cognome}}</p>
    </li>
</ul-->

<!--div *ngFor="let persona of persone; index as i">
    <p>{{i}} {{persona.nome}} {{persona.cognome}}</p>
    <p class="cerchioVerde" *ngIf="persona.isOnline"></p>
    <p class="cerchioRosso" *ngIf="!persona.isOnline"></p>
</div-->

<!--div [ngSwitch]="ruolo">
    <p *ngSwitchCase="'admin'">Sei un amministratore</p>
    <p *ngSwitchCase="'utente'">Numero 2</p>
    <p *ngSwitchCase="'segretaria'">Numero 3</p>
</div-->