<div class="container mt-4 shadow p-4">
    <div class="row">
        <div class="col">
            <h1 class="text-center"><strong>INFORMAZIONI UTILI</strong></h1>
        </div>
    </div>
    <div class="row">
        <div class="col bg-secondary-emphasis">
            <h2 class="mt-5 ms-4"><strong>CONTATTI</strong></h2>
            
            <div class="row justify-content-center ms-4">
                <div class="row">
                    <div class="col">
                        <p><strong>Indirizzo</strong></p>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col">
                        <h4>Via Palazzi, 175</h4>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col d-flex">
                        <i class="fa-solid fa-phone me-2 mt-1"></i><p><strong>Telefono</strong></p>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col">
                        <h4>0933 934026</h4>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col d-flex">
                        <i class="fa-regular fa-envelope me-2 mt-1"></i><p><strong>Email</strong></p>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col">
                        <a class="text-decoration-none text-dark" href="#"><h4>palestra.snoopy@gmail.com</h4></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col bg-secondary-super-emphasis">
            <h2 class="mt-5 ms-4"><strong>ORARI DI APERTURA</strong></h2>
            
            <div class="row justify-content-center ms-4">
                <div class="row ms-4">
                    <div class="row">
                        <div class="col d-flex">
                            <i class="fa-solid fa-clock me-2 mt-1"></i><p>Lunedì - 08:00 / 22:00</p>
                        </div>
                    </div>
        
                    <div class="row">
                        <div class="col d-flex">
                            <i class="fa-solid fa-clock me-2 mt-1"></i><p>Martedì - 08:00 / 22:00</p>
                        </div>
                    </div>
        
                    <div class="row">
                        <div class="col d-flex">
                            <i class="fa-solid fa-clock me-2 mt-1"></i><p>Mercoledì - 08:00 / 22:00</p>
                        </div>
                    </div>
        
                    <div class="row">
                        <div class="col d-flex">
                            <i class="fa-solid fa-clock me-2 mt-1"></i><p>Giovedì - 08:00 / 22:00</p>
                        </div>
                    </div>
        
                    <div class="row">
                        <div class="col d-flex">
                            <i class="fa-solid fa-clock me-2 mt-1"></i><p>Venerdì - 08:00 / 22:00</p>
                        </div>
                    </div>
        
                    <div class="row">
                        <div class="col d-flex">
                            <i class="fa-solid fa-clock me-2 mt-1"></i><p>Sabato - 08:00 / 19:00</p>
                        </div>
                    </div>
        
                    <div class="row">
                        <div class="col d-flex">
                            <i class="fa-solid fa-clock me-2 mt-1"></i><p>Domenica - 08:00 / 22:00</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
